# cpp object and shared object files
*.o
*.so

# temporary text files produced by vim
*.swp

# tarball result from build process
*.tar.gz

debug.* 

*.dat
*.txt

# whatever tf this is
symbols.rds

# ad hoc directories
.trash/
.results/

# test directories
tests/testthat/_snaps

# statically generate Rd files
man/*.Rd

# development directories
Meta/
docs
surveygraph.Rcheck/
..Rcheck/

src/archived.cc

clean.sh
rcmdinstall.sh
rcmdtest.sh
rcmdbuild.sh
