# cpp object and shared object files
*.o
*.so

# temporary text files produced by vim
*.swp

# tarball result from build process
*.tar.gz

debug.* 

*.dat
*.txt

# whatever tf this is
symbols.rds

# ad hoc directories
.trash/
.results/

# development directories
Meta/
docs
surveygraph.Rcheck/
..Rcheck/

clean.sh
rcmdinstall.sh
rcmdtest.sh
rcmdbuild.sh
