# cpp object and shared object files
*.o
*.so

# temporary text files produced by vim
*.swp

# tarball result from build process
*.tar.gz

debug.* 

# documentation
man

# whatever tf this is
symbols.rds

# ad hoc directories
..Rcheck/
.trash/
inst/doc/
doc/
Meta/
