useDynLib(surveygraphr)

#export(dataframeCheck)
#export(helloWorldInt)
#export(helloWorldNum)
#export(dummy)
#export(inputdf)
#export(vecmanip)
#export(dfmanip)
export(surveydummy)
export(buildgraphs)
